%h3 コメント一覧
%ul.list-group
  - item.comments.order(:created_at).includes(:user).each do |comment|
    %li.list-group-item
      - user = comment.user
      - user_name = user.name ||= user.email
      = link_to user_name, user
      = l comment.created_at, format: :short_slash
      %br
      = markdown(comment.body)
%br
