%h3 コメント一覧
%ul.list-group
  - @item.comments.order(:created_at).each do |comment|
    %li.list-group-item
      - user = comment.user
      = link_to user.email, user
      = l comment.created_at, format: :short_slash
      %br
      = comment.body
%br