%h3 コメント一覧
%ul.list-group
- @item.comments.each do |comment|
  - user = User.find(comment.user_id)
  %li.list-group-item
    = link_to user.email, user_path(user) 
    = comment.created_at.strftime("%Y/%m/%d")
    %br
    = comment.body
%br