%h3 コメント一覧
%ul.list-group
- @item.comments.order(:created_at).each do |comment|
  - user = comment.user
  %li.list-group-item
    = link_to user.email, user_path(user) 
    = l comment.created_at, format: :short_slash
    %br
    = comment.body
%br