.row
  %aside.col-md-4
    %section.user_info
      = render 'shared/user_info', user: @user
    %section.stats
      = render 'shared/stats', user: @user
  .col-md-8
    = render 'follow_form', user: @user if current_user != @user
    = render 'shared/feed', user: @user
