- if user_signed_in?
  .row
    %aside.col-md-4
      %section.user_info
        =render 'shared/user_info'
      %section.stats
        =render 'shared/stats'
    .col-md-8
      %h3 フィード
      =render 'shared/feed'
- else
  %h1 Hello hackers !

