- if user_signed_in?
  .row
    %aside.col-md-4
      %section.user_info
        =render 'shared/user_info', user: current_user
      %section.stats
        =render 'shared/stats', user: current_user
      %section.stocks
        =render 'shared/user_stocks', items: @stocked_items
    .col-md-8
      =render 'shared/feed', items: @items

- else
  %h1 Hello hackers !

