- if tag_list && tag_list.count > 0
  %h3 フォロー中のタグ (#{tag_list.count})
  %ol.tag_list.list-group
    - tag_list.each do |tag|
      %li.list-group-item
        = link_to tag, tag_path(name: tag)
- else
  %h3 タグをフォローしていません
