%table.table
  %thead
    %tr
      %th タイトル
      %th{ colspan: "2" }

  %tbody
    - user.items.each do |item|
      %tr
        %td
          = link_to item.title, user_item_path(item.user, item)
          %br
          = "#{l item.created_at, format: :short_slash }に投稿"
%br
