- if items.any?
  %h4 タイムライン

  .paginate= paginate items

  %ol.items.list-group
    - items.each do |item|
      %li.list-group-item
        %span.author
          =link_to item.user.name, user_path(item.user)
          =" が　投稿しました"
        = link_to item.trancate_title, user_item_path(item.user, item)
        %span.pull-right= l item.updated_at, format: :short_slash
- else
  %h4 タイムラインはありません


